@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1pic91');
    src:  url('../fonts/icomoon.eot?1pic91#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?1pic91') format('truetype'),
      url('../fonts/icomoon.woff?1pic91') format('woff'),
      url('../fonts/icomoon.svg?1pic91#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-close:before {
    content: "\e916";
  }
  .icon-calendar:before {
    content: "\e900";
  }
  .icon-contract:before {
    content: "\e901";
  }
  .icon-document:before {
    content: "\e902";
  }
  .icon-email:before {
    content: "\e903";
  }
  .icon-time:before {
    content: "\e904";
  }
  .icon-instagram:before {
    content: "\e905";
  }
  .icon-loupe:before {
    content: "\e906";
  }
  .icon-maps-and-flags:before {
    content: "\e907";
  }
  .icon-paper-clip:after {
    content: "\e908";
  }
  .icon-paper-clip:before {
    content: "\e909";
    margin-left: -1em;
  }
  .icon-phone-call-1:before {
    content: "\e90a";
  }
  .icon-phone-call-2:before {
    content: "\e90b";
  }
  .icon-placeholder:before {
    content: "\e90c";
  }
  .icon-arrow-down:before {
    content: "\e90d";
  }
  .icon-arrow-down-around:before {
    content: "\e90e";
  }
  .icon-arrow-up:before {
    content: "\e90f";
  }
  .icon-arrow-left:before {
    content: "\e910";
  }
  .icon-arrow-right:before {
    content: "\e911";
  }
  .icon-arrow-left-around:before {
    content: "\e912";
  }
  .icon-arrow-right-around:before {
    content: "\e913";
  }
  .icon-arrow-up-around:before {
    content: "\e914";
  }
  .icon-vk:before {
    content: "\e915";
  }
  