$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;
$colorRed: #FF0000;
$color1: #F4F9FC;
$color2: #017CC2;
$color3: #737373;
$color5: #E0E0E0;


body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;

	font-size: 14px;
	line-height: 16px;
	color: #000;
}
.content {
	min-height: 100vh;
}


.title-1-page {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 47px;
	color: #000000;
}
.title-2-page {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #000000;
	padding-bottom: 13px;
	position: relative;
	&:before {
		position: absolute;
		z-index: 2;
		content: "";
		left: 0px;
		bottom: 0px;
		width: 100px;
		height: 1px;
		background-color: #000;
	}
	&.title-2-page_white {
		color: #fff;
		&:before {
			background-color: #fff;
		}
	}
	&.title-2-page_no-border {
		&:before {
			display: none;
		}
	}
}

.bg-rf {
	background-color: $color2;
	background-image: url("../images/rf.png");
	background-position: center left;
	background-repeat: no-repeat;
}
.hover-default {
	&:hover {
		text-decoration: none;
		color: inherit;
	}
}
.font-gilroy { font-family: 'Roboto', sans-serif; }
.font-roboto { font-family: 'Roboto', sans-serif; }
.font-roboto-slab { font-family: 'Roboto Slab', serif; }
.font-12 {
	font-size: 12px;
	line-height: 14px;
}
.font-16 {
	font-size: 16px;
	line-height: 18px;
}
.font-18 {
	font-size: 18px;
	line-height: 20px;
}
.font-24 {
	font-size: 24px;
	line-height: 26px;
}
.font-32 {
	font-size: 32px;
	line-height: 36px;
}
.font-38 {
	font-size: 38px;
	line-height: 42px;
}
.font-48 {
	font-size: 48px;
	line-height: 52px;
}
.font-72 {
	font-size: 72px;
	line-height: 78px;
}
.font-24-m-18 {
	font-size: 18px!important;
	line-height: 20px!important;
	@include media-breakpoint-up(lg) {
		font-size: 24px!important;
		line-height: 26px!important;
	}
}
.font-36-m-24 {
	font-size: 24px!important;
	line-height: 26px!important;
	@include media-breakpoint-up(lg) {
		font-size: 38px!important;
		line-height: 42px!important;
	}
}

.color1 { color: $color1; }
.color2 { color: $color2; }
.color3 { color: $color3; }
.color-000 { color: #000; }
.color-red { color: $colorRed; }
.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }
.weight-700 { font-weight: 700; }