.form-group {
	.form-control {
		border: 1px solid $color3;
		border-radius: 0px;
	}
	textarea.form-control {
		resize: none;
	}
}
.custom-file {
	width: auto;
	height: unset;
	.custom-file-input {
		height: unset;
		width: 220px;
	}
	.custom-file-label {
		border: 0px;
		background: none;
		height: unset;
		padding: 0px;
		margin: 0px;
	
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: $color2;
		border-bottom: 1px dashed $color2;
		&::after {
			display: none;
		}
	}
}

.form-check {
	padding: 0px;
	display: flex;
	align-items: flex-start;
	.form-check-input {
		cursor: pointer;
		position: unset;
		margin: 0px 16px 0px 0px;

		width: 13px;
		height: 13px;
		border: 1px solid #737373;
		box-sizing: border-box;
		border-radius: 3px;
	}
	.form-check-label {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		a {
			color: $color2;
		}
	}
}