.btn {
	background-color: $color2;
	border-radius: 5px;
	padding: 13px 19px;
	border: 1px solid transparent;

	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	&:hover {
		border-color: $color2;
		background: none;
		color: $color2;
	}
	&.btn_m_w-100 {
		@media (max-width: 599px) {
			width: 100%;
		}
	}
	&.btn_link {
		border-radius: 0px;
		padding: 6px 27px;
		span {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
			border: 1px solid transparent;

			border-bottom: 1px solid #fff;
			transition: 0.3s;
		}
		&:hover {
			border-color: $color2;
			background: none;
			span {
				color: $color2;
			}
		}
	}
	&.btn_empty {
		border-color: $color2;
		background: none;
		color: $color2;
		&:hover {
			background-color: $color2;
			border-color: transparent;
			color: #FFFFFF;
		}
	}
	&.btn_min-width-270 {
		min-width: 270px;
	}
}






.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}
