div(class="breadcrumb-block")
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Главная</a></li>
			<li class="breadcrumb-item active" aria-current="page">Интернет-приёмная</li>
		</ol>
	</nav>