footer(class="footer")
	div(class="container")
		div(class="footer__top")
			div(class="row")
				div(class="col-12 col-lg-3 pb-5 pb-lg-0")
					span(class="footer__title")
						| Совет депутатов
					ul(class="mb-0 list-unstyled")
						each item in ["Руководство", "Депутаты", "Постоянные комиссии", "Полномочия", "Деятельность"]
							li()
								a(href="#")
									= item
				div(class="col-12 col-lg-3 pb-5 pb-lg-0")
					span(class="footer__title")
						| Информация
					ul(class="mb-0 list-unstyled")
						each item in ["Муниципальный заказ", "График приёма населения", "Кадровое обеспечение", "План работы совета", "Контакты"]
							li()
								a(href="#")
									= item
				div(class="col-12 col-lg-3 pb-5 pb-lg-0")
					span(class="footer__title")
						| Документы
					ul(class="mb-0 list-unstyled")
						each item in ["Устав муниципального образования", "Повестки заседаний Совета", "Проекты решений", "Решения Совета депутатов", "Публичные слушания"]
							li()
								a(href="#")
									= item
				div(class="col-12 col-lg-3")
					span(class="footer__title")
						| Контакты
					ul(class="mb-0 list-unstyled")
						li()
							| Челябинск, ул. Кирова 10
						li()
							a(href="tel:+73511234567")
								| Телефон: +73511234567
		div(class="footer__bottom")
			div(class="row align-items-center")
				div(class="col-12 col-lg-3 d-flex d-lg-block justify-content-center pb-4 pb-lg-0")
					a(href="#" class="logo")
						img(class="lazyload img-fluid" data-src="images/logo.svg" alt="img logo")
				div(class="col-12 col-lg-4 col-xl-3 d-flex d-lg-block justify-content-center pb-4 pb-lg-0")
					a(href="#" class="pol")
						| Политика обработки персональных данных
				div(class="col-lg-3 offset-lg-2 offset-xl-3 d-flex justify-content-center justify-content-lg-end")
					a(href="#" class="dev")
						| Разработка сайта

						