header(class="header")
	div(class="header__top d-none d-lg-block")
		div(class="container-fluid")
			div(class="row")
				div(class="col-12 col-lg-6 d-flex align-items-center")
					div(class="d-flex align-items-center")
						i(class="icon-maps-and-flags mr-1 font-16")
						span(class="font-12 font-gilroy")
							| г. Челябинск, ул. Кирова 10
					div(class="d-flex align-items-center header-email")
						span(class="line")
						a(href="mailto:mail@mail.ru" class="font-12 font-gilroy d-flex align-items-center hover-default color-000")
							i(class="icon-email mr-1 font-16")
							| mail@mail.ru
				div(class="col-12 col-lg-6 d-flex align-items-center justify-content-end")
					form(action="" class="search-block-header")
						input(type="search" placeholder="Поиск по сайту")
						button(type="submit")
							i(class="icon-loupe")
					a(href="tel:+73511234567" class="d-flex align-items-center font-roboto-slab font-18 weight-500 hover-default color-000")
						i(class="icon-phone-call-1 mr-3 font-24 color2")
						| +7 351 123-45-67
	div(class="header__main")
		div(class="container-fluid")
			div(class="row align-items-center flex-no-wrap justify-content-lg-between")
				div(class="col-6 col-lg-auto")
					a(href="#" class="logo")
						img(class="lazyload img-fluid" data-src="images/logo.svg" alt="img logo")
				div(class="d-none d-lg-block col-lg-auto")
					<ul class="mb-0 list-unstyled d-inline-flex nav-outer">
						li(class="nav-item")
							a(href="#")
								| Главная
						li(class="nav-item menu-item-has-children")
							a(href="#")
								| Калининский район
							i(class="icon-arrow-down ml-2")
							ul(class="mb-0 list-unstyled")
								-for(let i = 0; i < 4; i++)
									li()
										a(href="#")
											| пункт 1.1
						li(class="nav-item menu-item-has-children")
							a(href="#")
								| Общественный совет
							i(class="icon-arrow-down ml-2")
							ul(class="mb-0 list-unstyled")
								-for(let i = 0; i < 4; i++)
									li()
										a(href="#")
											| пункт 1.1
						li(class="nav-item")
							a(href="#")
								| Председатель
						li(class="nav-item menu-item-has-children")
							a(href="#")
								| Совет депутатов
							i(class="icon-arrow-down ml-2")
							ul(class="mb-0 list-unstyled")
								-for(let i = 0; i < 4; i++)
									li()
										a(href="#")
											| пункт 1.1
						li(class="nav-item")
							a(href="#")
								| Документы
						li(class="nav-item")
							a(href="#")
								| Противодействие коррупции
					</ul>
				div(class="col-2 col-md-1 offset-2 offset-md-4 d-lg-none")
					a(href="tel:+73511234567" class="d-flex align-items-center font-roboto-slab font-18 weight-500")
						i(class="icon-phone-call-1 mr-3 font-24 color2")
				div(class="col-2 col-md-1 d-lg-none")
					button(class="btn__menu")
						svg(id="burger" class="ham hamRotate ham8" viewBox="0 0 100 100"  onclick="this.classList.toggle('active')")
							path(class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20")
							path(class="line middle" d="m 30,50 h 40")
							path(class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20")
				div(class="col-12 col-lg-auto mt-2 mt-lg-0 btn-header-wrapper")
					button(type="button" class="btn btn_m_w-100 " data-toggle="modal" data-target="#modalRequest")
						| Интернет-приёмная