div(id="modal-menu")
	div(class="modal-menu-content")
		div(class="container")
			div(class='row pt-2 pb-4 align-items-start')
				div(class="col-8")
					a(href="#" class="logo")
						img(class="lazyload img-fluid" data-src="images/logo.svg" alt="img logo")
				div(class="col-4 d-flex justify-content-end")
					button(class="modal-menu__close" type="button")
						i(class="icon-close ")
			div(class="row pb-4")
				div(class="col-12 d-flex justify-content-center")
					a(href="tel:+73511234567" class="d-flex align-items-center font-roboto-slab font-16 weight-500 color-000")
						| +7 351 123-45-67
			div(class="row pb-5")
				div(class="col-12 d-flex flex-column")
					a(class="modal-menu__link")
						| Главная
					a(class="modal-menu__link d-flex justify-content-between pr-2" )
						| Совет депутатов
						i(class="icon-arrow-down collapsed" data-toggle="collapse" href="#menuCollapse1" role="button" aria-expanded="false" aria-controls="menuCollapse1")
					div(class="collapse" id="menuCollapse1")
						div(class="card card-body")
							a(class="modal-menu__link")
								| пункт 1
							a(class="modal-menu__link")
								| пункт 1
					a(class="modal-menu__link")
						| Новости
					a(class="modal-menu__link")
						| Документы
					a(class="modal-menu__link")
						| Контакты
			div(class="row")
				div(class="col-12 pb-5")
					span(class="d-block font-14 font-gilroy color-000 pb-3")
						b
							| Часы приёма граждан
					span(class="d-block font-14 font-gilroy color-000")
						| Пн.-Пт.: 8:00-18:00
				div(class="col-12 pb-3 font-14 font-gilroy color-000")
					p()
						| Совет депутатов Клаининского района Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост 
				div(class="col-12 d-flex align-items-center")
					a(href="#" class="font-38 color-000 mr-3")
						i(class="icon-instagram")
					a(href="#" class="font-32 color-000")
						i(class="icon-vk")
					
