<!-- Modal -->
<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="modalRequestTitle">Обращение</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			form(action="" method="")
				div(class="form-group mb-4")
					label(for="name" class="mb-3")
						| 1. Укажите Ваши фамилию, имя, отчество (при наличии)
						span( class="color-red")
							| *
					input(type="text" class="form-control" id="name")
				div(class="form-group mb-4")
					label(for="email" class="mb-3")
						| 2. Адрес электронной почты (Email)
						span( class="color-red")
							| *
					input(type="email" class="form-control" id="email")
				div(class="form-group mb-4")
					label(for="phone" class="mb-3")
						| 3. Контактный телефон
						span( class="color-red")
							| *
					input(type="phone" class="form-control" id="phone")
				div(class="form-group mb-4")
					label(for="message" class="mb-3")
						| 4. Текст обращения
						span( class="color-red")
							| *
					textarea(class="form-control" id="message" rows="1")
				div(class="custom-file mb-5")
					input(type="file" class="custom-file-input" id="customFile")
					label(class="custom-file-label" for="customFile")
						i(class="icon-paper-clip font-16 mr-2")
						| Прикрепить файл (до 10 мб)
				<div class="form-check mb-3">
					<input class="form-check-input" type="checkbox" value="" id="checkbox1" >
					<label class="form-check-label" for="checkbox1">
						| Я согласен с <a href="#">условиями обработки персональных данных</a> <span class="color-red">*</span>
					</label>
				</div>
				div(class="d-flex justify-content-center justify-content-lg-end")
					button(type="submit" class="btn btn_empty btn_min-width-270")
						| Отправить
		</div>
		</div>
	</div>
</div>