.footer {
	background: $color1;
	padding: 53px 0 40px 0;
	.footer__title {
		display: block;
		font-family: Roboto Slab;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
		color: #333333;
		margin-bottom: 26px;
	}
	ul {
		li {
			font-family: Gilroy;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: #333333;

			margin-bottom: 15px;
			a {
				color: inherit;
				font-size: inherit;
				line-height: inherit;
				transition: 0.4s;
				&:hover {
					color: $color2;
					text-decoration: none;
				}
			}
			&:last-child {
				margin: 0px;
			}
		}
		
	}
	.footer__top {
		padding-bottom: 50px;
		border-bottom: 1px solid #BDBDBD;
	}
	.footer__bottom {
		padding-top: 19px;
	}
	@include media-breakpoint-up(lg) {
		padding: 64px 0 52px 0;
	}
}

.pol {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #BDBDBD;
	transition: 0.3s;
}
.dev {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	text-decoration-line: underline;
	color: $color2;
}