extends base.pug
block content
	section(class="container pb-5")
		div(class="row pb-lg-5 mb-lg-5")
			div(class="col-12")
				include components/breadcrumbs.pug
			div(class="col-12")
				h1(class="title-1-page font-36-m-24 mb-lg-5 pb-3")
					| Совет депутатов
			each item in ["Руководство", "Депутаты", "Постоянные комиссии", "Полномочия", "Деятельность", "Аппарат", "Вакансии", "Кадровый резерв"]
				div(class="col-12 col-lg-6 pb-4")
					div(class="advice-block")
						div(class="advice-block__content")
							h2(class="title")
								= item
							a(href="#" class="link")
								| ПОДРОБНЕЕ