extends base.pug
block content
	section(class="container pb-5")
		div(class="row pb-lg-5 mb-lg-5")
			div(class="col-12")
				include components/breadcrumbs.pug
			div(class="col-12")
				h1(class="title-1-page font-36-m-24 mb-lg-5 pb-3")
					| Муниципально-правовые акты
			-for(let i = 0; i < 10; i++)
				div(class="col-12 pb-4")
					a(href="#" class="documents-item" download)
						i(class="icon-document font-48 color-000 mr-4")
						span(class="d-flex flex-column align-items-start font-gilroy font-18 color-000")
							| Распоряжение Губернатора Челябинской области от 31.03.2021 г. № 263-р «О решении координационного совещания по обеспечению правопорядка в Челябинской области от 9 февраля 2021 года»
							span(class="font-16 color3 mt-3")
								| 02 апреля 2021
		div(class="row pb-lg-5 mb-lg-5")
			div(class="col-12 d-flex justify-content-center")
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only"><<</span>
							</a>
						</li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						li(class="page-item page-item_more")
							| ...
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">>></span>
							</a>
						</li>
					</ul>
				</nav>