extends base.pug
block content
	section(class="container pb-5")
		div(class="row pb-lg-5 mb-lg-5")
			div(class="col-12")
				include components/breadcrumbs.pug
			div(class="col-12")
				h1(class="title-1-page font-36-m-24 mb-lg-5 pb-3")
					| Нормативные документы
			each item in ["Муниципально-правовые акты", "Регламенты"]
				div(class="col-12 col-lg-6 pb-4")
					div(class="advice-block")
						div(class="advice-block__content flex-row justify-content-start align-items-stretch px-2 pl-lg-5 pr-lg-4 pt-3 pb-4")
							i(class="icon-contract font-72 color2 mr-2 mr-lg-5")
							div(class="d-flex flex-column justify-content-between align-items-start")
								h2(class="title")
									= item
								a(href="#" class="link")
									| ПОДРОБНЕЕ
		div(class="row pb-5 mb-lg-5")
			div(class="col-12")
				p(class="font-16 color-000 font-gilroy")
					| Таким образом укрепление и развитие структуры позволяет выполнять важные задания по разработке новых предложений. Равным образом начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям.
				p(class="font-16 color-000 font-gilroy")
					| Разнообразный и богатый опыт начало повседневной работы по формированию позиции в значительной степени обуславливает создание форм развития. Повседневная практика показывает, что укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же сложившаяся структура организации требуют определения и уточнения систем массового участия.