extends base.pug
block content
	section(class="welcome")
		div(class="container")
			div(class="row justify-content-center")
				div(class="col-12 col-lg-8 d-flex flex-column align-items-center")
					span(class="subtitle")
						| Официальный сайт
					h1(class="title")
						| Совет депутатов<br>Калининского района
					p(class="description")
						| Добро пожаловать на официальный сайт совета депутатов Калинского района. Вы можете оставить заявку в нашей интернет-приёмной
					button(type="button" class="btn" data-toggle="modal" data-target="#modalRequest")
						| Интернет-приёмная
	section(class="container pt-4 py-lg-5")
		div(class="row pb-5")
			div(class="col-12 col-lg-8")
				h2(class="title-2-page mb-4")
					| Последние новости
				div(class="row")
					div(class="col-12 col-lg-6 pb-5 pb-lg-0")
						div(class="block-news")
							img(class="lazyload w-100" data-src="images/block-news.jpg" alt="img news")
							div(class="block-news__content")
								div(class="block-news__date")
									i(class="icon-calendar mr-2")
									| 01.04.2021
								h3(class="title")
									| Заседание совета депутатов Заседание совета депутатов Заседание совета депутатов
								p(class="description")
									| Прошло очередное зачедание советов депутатов Калининского района в этот оветов депутатов Калининского района в этот
							a(href="#" class="block-news__link")
					div(class="col-12 col-lg-6 block-news-mini-wrapper pb-5 pb-lg-0")
						div(class="block-news-mini")
							div(class="block-news__date")
								i(class="icon-calendar mr-2")
								| 30.03.2021
							a(class="title" href="#")
								| Итоги заседания советов депутатов
							p(class="description")
								| Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
						div(class="block-news-mini")
							div(class="block-news__date")
								i(class="icon-calendar mr-2")
								| 30.03.2021
							a(class="title" href="#")
								| Итоги заседания советов депутатов Итоги заседания советов депутатов
							p(class="description")
								| Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Таким образом реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.
						div(class="pt-3 pt-lg-5 d-flex justify-content-end")
							a(class="btn btn_link")
								span
									| Все новости
			div(class="col-12 col-lg-4")
				h2(class="title-2-page mb-4")
					| Последние документы
				div(class="block-last-documents-wrapper pt-3 pt-lg-0")
					-for(let i = 0; i < 3; i++)
						div(class="block-last-documents")
							div(class="pb-2")
								i(class="icon-document font-24 mr-2")
								span(class="title")
									| РЕШЕНИЕ № 8/3 от 24 февраля 2021 г.
							p()
								| О внесении изменений в Положение о Комитете по культуре и туризму Администрации
							div(class="d-flex justify-content-end")
								a(href="#" class="link" download)
									| СКАЧАТЬ ДОКУМЕНТ
	section(class="bg-rf pt-5")
		div(class="container pb-lg-5")
			div(class="row")
				div(class="col-12")
					h2(class="title-2-page mb-4 title-2-page_white")
						| Состав совета депутатов
				-for(let i = 1; i < 13; i++)
					div(class="col-6 col-md-4 col-lg-2 pb-3 pb-lg-5 mb-4")
						div(class="team-item")
							img(class="lazyload w-100 mb-2" data-src=`images/team1.png` alt="img team")
							span(class="title")
								| Иванов И.И.
							p(class="subtitle")
								| председатель совета депутатов
	section(class="container")
		div(class="row pt-4 pb-5 pb-lg-0")
			div(class="col-12 overflow-hidden")
				div(class="slider-rf swiper-container py-5")
					div(class="swiper-wrapper")
						each item in ["images/rf-logo-1.png", "images/rf-logo-2.png", "images/rf-logo-3.png"]
							div(class="swiper-slide")
								img(data-src=item class="swiper-lazy")
				div(class="swiper-button slider-rf-next")
					i(class="icon-arrow-right")
				div(class="swiper-button slider-rf-prev")
					i(class="icon-arrow-left")
	section(class="bg-color1")
		div(class="container")
			div(class="row justify-content-center")
				div(class="col-12")
					h2(class="title-2-page title-2-page_no-border mb-lg-4")
						| Для граждан
				div(class="col-12 col-lg-5 pb-3")
					a(href="#" class="block-link")
						img(class="lazyload img-fluid" data-src="images/block-link-1.png" alt="img")
						span(class="px-1 px-lg-4")
							| Электронные государственные и муниципальные услуги
						i(class="icon-arrow-right-around")
				div(class="col-12 col-lg-5 pb-3")
					a(href="#" class="block-link")
						img(class="lazyload img-fluid" data-src="images/block-link-1.png" alt="img")
						span(class="px-1 px-lg-4")
							| Электронные государственные и муниципальные услуги
						i(class="icon-arrow-right-around")
				div(class="col-12 col-lg-5 pb-3")
					a(href="#" class="block-link")
						img(class="lazyload img-fluid" data-src="images/block-link-2.png" alt="img")
						span(class="px-1 px-lg-4")
							| Многофункциональный центр предоставления услуг
						i(class="icon-arrow-right-around")
				div(class="col-12 col-lg-5 pb-3")
					a(href="#" class="block-link")
						img(class="lazyload img-fluid" data-src="images/block-link-2.png" alt="img")
						span(class="px-1 px-lg-4")
							| Многофункциональный центр предоставления услуг
						i(class="icon-arrow-right-around")
	section(class="container py-5")
		div(class="row py-4")
			div(class="col-12")
				h2(class="title-2-page mb-4")
					| Контактная информация
			div(class="col-12 col-lg-7 pb-4 mb-3 mb-lg-0 pb-lg-0")
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2278.184110596481!2d61.39569841607254!3d55.18004934348568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed2ffa425c61%3A0x659c982e2d542730!2z0YPQuy4g0JrQuNGA0L7QstCwLCAxMCwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA4NA!5e0!3m2!1sru!2sru!4v1618346366610!5m2!1sru!2sru" width="100%" height="385" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			div(class="col-12 col-lg-5")
				div(class="d-flex align-items-center font-18 font-gilroy mb-5")
					i(class="icon-placeholder mr-4 font-38")
					| Челябинск, ул. Кирова 10
				a(class="block-phone d-flex align-items-center mb-5" href="tel:+73511234567")
					i(class="icon-phone-call-2 mr-4 font-38")
					span(class="d-flex flex-column font-18 font-gilroy")
						| +7 351 123-45-67
						span(class="mt-1")
							| по общим вопросам
				a(class="block-phone d-flex align-items-center mb-5" href="tel:+73511234568")
					i(class="icon-phone-call-2 mr-4 font-38")
					span(class="d-flex flex-column font-18 font-gilroy")
						| +7 351 123-45-68
						span(class="mt-1")
							| секретариат
				div(class="d-flex align-items-center font-18 font-gilroy")
					i(class="icon-time mr-4 font-38")
					| Прием-граждан:<br>Пн-Ср: 13:00-15:00
