extends base.pug
block content
	section(class="container pb-5")
		div(class="row pb-lg-5 mb-lg-5")
			div(class="col-12")
				include components/breadcrumbs.pug
			div(class="col-12")
				h1(class="title-1-page font-36-m-24 mb-lg-5 pb-3")
					| Руководство
			div(class="col-12 col-md-6 col-lg-4 pb-4 pb-lg-5")
				img(class="lazyload w-100" data-src="images/team-big.png" alt="img")
			div(class="col-12 col-md-6 col-lg-8 pb-lg-5")
				h2(class="font-24 color-000")
					b
						| Иванов И.И.
				p(class="font-18 color-000 font-gilroy")
					| Председатель Совета депутатов
				p(class="font-18 color-000 font-gilroy")
					| Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
				p(class="font-18 color-000 font-gilroy")
					| Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
			div(class="col-12")
				h1(class="title-2-page title-2-page_no-border  mb-lg-4")
					| Депутаты
			-for(let i = 0; i < 6; i++)
				div(class="col-12 col-lg-6 pb-4")
					div(class="team-item-big")
						div(class="row")
							div(class="col-12 col-md-4 pb-4 pb-lg-0")
								img(class="lazyload w-100" data-src=`images/team1.png` alt="img team")
							div(class="col-12 col-md-8")
								span(class="title")
									| Петров П.П.
								p(class="description")
									| Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.