extends base.pug
block content
	section(class="container pb-5")
		div(class="row")
			div(class="col-12")
				include components/breadcrumbs.pug
			div(class="col-12")
				h1(class="title-1-page font-36-m-24 mb-lg-5 pb-3")
					| Новости
		div(class="row pb-5")
			-for(let i = 0; i < 9; i++)
				div(class="col-12 col-md-6 col-lg-4 pb-4")
					div(class="block-news")
						img(class="lazyload w-100" data-src="images/block-news.jpg" alt="img news")
						div(class="block-news__content")
							div(class="block-news__date")
								i(class="icon-calendar mr-2")
								| 01.04.2021
							h3(class="title")
								| Заседание совета депутатов Заседание совета депутатов Заседание совета депутатов
							p(class="description")
								| Прошло очередное зачедание советов депутатов Калининского района в этот оветов депутатов Калининского района в этот
						a(href="#" class="block-news__link")
		div(class="row pb-5")
			div(class="col-12 d-flex justify-content-center")
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only"><<</span>
							</a>
						</li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						li(class="page-item page-item_more")
							| ...
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">>></span>
							</a>
						</li>
					</ul>
				</nav>