extends base.pug
block content
	section(class="container pb-5")
		div(class="row pb-lg-5 mb-lg-5")
			div(class="col-12")
				include components/breadcrumbs.pug
			div(class="col-12 col-lg-8")
				div( class="news-item-block")
					h1(class="title-1-page font-36-m-24 mb-lg-5 pb-3")
						| Новости
					h2(class="mb-2 mb-lg-4 title-2-page title-2-page_no-border font-24-m-18")
						| Внеочередное заседание Совета депутатов Калининского района
					div(class="block-news__date mb-3")
						i(class="icon-calendar mr-2")
						| 01.04.2021
					img(class="lazyload" data-src="images/news-item.png" alt="img")
					p()
						| Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
					p()
						| Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
					blockquote
						p()
							| Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
					p()
						| Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.

					p()
						| Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
					div(class="news-item-block__gallery pt-5 pb-5")
						div(class="row")
							-for(let i = 0; i < 8; i++)
								div(class="col-6 col-md-4 col-lg-3")
									a(data-fancybox="gallery" href="images/news-item.png")
										img(class="lazyload w-100" data-src="images/news-item.png" alt="img")
			div(class="col-12 col-lg-4")
				div(class="sidebar")
					div(class="sidebar-block mb-5")
						h2(class="title-2-page title-2-page_no-border mb-4")
							| Другие новости
						-for(let i = 0; i < 5; i++)
							a(class="sidebar-block__inner-item" href="#")
								span(class="title")
									| Короткий заголовок прошедшей новости или события
								span(class="date")
									| 03 апреля 2021
					div(class="sidebar-block mb-5")
						h2(class="title-2-page title-2-page_no-border mb-4")
							| Документы
						-for(let i = 0; i < 5; i++)
							a(class="sidebar-block__inner-item flex-row" href="#" download)
								i(class="icon-document mr-2 fonnt-18 color-000")
								span(class="d-flex flex-column")
									span(class="title")
										| Короткий заголовок прошедшей новости или события
									span(class="date")
										| 03 апреля 2021
					div(class="d-flex flex-column")
						a(href="#" class="block-link block-link_only mb-4")
							img(class="lazyload img-fluid" data-src="images/block-link-1.png" alt="img")
							span(class="px-1")
								| Электронные государственные и муниципальные услуги
							i(class="icon-arrow-right-around")
						a(href="#" class="block-link block-link_only")
							img(class="lazyload img-fluid" data-src="images/block-link-1.png" alt="img")
							span(class="px-1")
								| Электронные государственные и муниципальные услуги
							i(class="icon-arrow-right-around")