extends base.pug
block content
	section(class="container pb-5")
		div(class="row pb-lg-5 mb-lg-5")
			div(class="col-12")
				include components/breadcrumbs.pug
			div(class="col-12")
				h1(class="title-1-page font-36-m-24 mb-lg-5 pb-3")
					| Интернет-приёмная
			div(class="col-12 col-lg-7 pb-5 pb-lg-0")
				h2(class="title-2-page font-24-m-18 mb-4")
					| Создать обращение
				form(action="" method="")
					div(class="form-group mb-4")
						label(for="name" class="mb-3")
							| 1. Укажите Ваши фамилию, имя, отчество (при наличии)
							span( class="color-red")
								| *
						input(type="text" class="form-control" id="name")
					div(class="form-group mb-4")
						label(for="email" class="mb-3")
							| 2. Адрес электронной почты (Email)
							span( class="color-red")
								| *
						input(type="email" class="form-control" id="email")
					div(class="form-group mb-4")
						label(for="phone" class="mb-3")
							| 3. Контактный телефон
							span( class="color-red")
								| *
						input(type="phone" class="form-control" id="phone")
					div(class="form-group mb-4")
						label(for="message" class="mb-3")
							| 4. Текст обращения
							span( class="color-red")
								| *
						textarea(class="form-control" id="message" rows="1")
					div(class="custom-file mb-5")
						input(type="file" class="custom-file-input" id="customFile")
						label(class="custom-file-label" for="customFile")
							i(class="icon-paper-clip font-16 mr-2")
							| Прикрепить файл (до 10 мб)
					<div class="form-check mb-3">
						<input class="form-check-input" type="checkbox" value="" id="checkbox1" >
						<label class="form-check-label" for="checkbox1">
							| Я согласен с <a href="#">условиями обработки персональных данных</a> <span class="color-red">*</span>
						</label>
					</div>
					div(class="d-flex justify-content-center justify-content-lg-end")
						button(type="submit" class="btn btn_empty btn_min-width-270")
							| Отправить
			div(class="col-12 col-lg-5")
				p(class="font-roboto font-18 color3")
					| Правила заполнения поля ФИО:<br>
					| 1) поле не должно содержать наименования организаций и структур;<br>
					| 2) поле не должно содержать цифры;<br>
					| 3) Фамилия, Имя, Отчество разделяются одним пробелом или точкой.
				p(class="font-roboto font-18 color3")
					| На указанный электронный адрес будет выслано уведомление о приеме обращения, а также ответ исполнителя по компетенции поставленных в обращении вопросов.