/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/swiper/swiper.scss";
@import "library/jquery.fancybox.min.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";
@import "fonts/_icons";
@import "fonts/_fonts";

.welcome {
	background-image: url("../images/welcome_m.jpg");
	background-size: cover;
	background-position: center;
	min-height: 490px;
	

	display: flex;
	align-items: center;
	justify-content: center;
	.title {
		font-family: Roboto Slab;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;
		text-align: center;

		color: #FFFFFF;
		margin-bottom: 27px;
		@include media-breakpoint-up(lg) {
			font-size: 42px;
			line-height: 56px;
		}
		@include media-breakpoint-up(xl) {
			font-size: 62px;
			line-height: 84px;
		}
	}
	.subtitle {
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #FFFFFF;
		text-align: center;
	}
	.description {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 21px;
		text-align: center;
		color: #FFFFFF;
		margin: 0px 0px 35px 0;
	}
	@include media-breakpoint-up(lg) {
		min-height: 633px;
		background-image: url("../images/welcome.jpg");
	}
}




.block-news {
	position: relative;
	.block-news__link {
		position: absolute;
		z-index: 3;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
	.block-news__content {
		position: absolute;
		padding: 0 18px 12px 11px;
		z-index: 1;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background: linear-gradient(0deg, #000000 -2.95%, rgba(0, 0, 0, 0) 60.04%);
		transition: 0.3s;
		.title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			color: #FFFFFF;

			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			line-height: 1.3em;
			height: 1.3em;
		}
		.description {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #FFFFFF;
			margin: 0px;

			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			line-height: 1.3em;
			height: 2.6em;
		}
	}
	.block-news__date {
		display: block;
		border-bottom: 1px solid #fff;
		margin-bottom: 11px;
		padding-bottom: 9px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #FFFFFF;
	}
	&:hover {
		.block-news__content {
			padding-bottom: 16px;
		}
	}
}

.block-news-mini {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid $color5;
	.block-news__date {
		display: block;
		margin-bottom: 5px;

		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
	}
	.title {
		display: block;
		margin-bottom: 9px;
		
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: #000000;

		overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			line-height: 1.3em;
			height: 1.3em;
	}
	.description {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		margin: 0px;

		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		line-height: 1.3em;
		height: 5.2em;
	}
	@include media-breakpoint-up(lg) {
		margin-bottom: 12px;
		padding-bottom: 10px;
	}
}
.block-news-mini-wrapper {
	.block-news-mini {
		&:nth-child(2) {
			padding-bottom: 10px;
			border: 0px!important;
			margin-bottom: 0px!important;
		}
	}
}
.block-last-documents-wrapper {
	position: relative;
	.block-last-documents {
		margin-bottom: 19px;
		border-bottom: 1px solid #E0E0E0;
		.title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #333333;
		}
		p {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: $color3;
			margin-bottom: 15px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 8px;
			}
		}
		.link {
			display: block;
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			padding-bottom: 1px;
			margin-bottom: 24px;
			border-bottom: 1px solid #000;
			transition: 0.4s;
			&:hover {
				color: $color2;
				border-color: $color2;
				text-decoration: none;
			}
			@include media-breakpoint-up(lg) {
				margin-bottom: 10px;
			}
		}
		&:last-child {
			border: 0px;
			margin-bottom: 0px;
		}
	}
	&:before {
		position: absolute;
		content: "";
		left: -15px;
		top: - 15px;
		bottom: -15px;
		width: 1px;
		background: #F2F2F2;
	}
}


.team-item {
	.title {
		display: block;
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		margin-bottom: 9px;
	}
	.subtitle {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #FFFFFF;
		margin: 0px;
	}
}

.team-item-big {
	padding: 26px 23px 45px 17px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	.title {
		display: block;
		font-family: Gilroy;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 18px;
	}
	.desciprtion {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		margin: 0px;
	}
}


.slider-rf {
	overflow: visible;
	.swiper-slide {
		min-height: 170px;
		background: #FFFFFF;
		box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.swiper-button {
	width: 30px;
	height: 30px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $color2;
	border-radius: 3px;
	position: absolute;
	z-index: 2;
	top: calc(50% - 15px);
	&.slider-rf-next {
		right: 0px;
	}
	&.slider-rf-prev {
		left: 0px;
	}
}


.bg-color1 {
	background-color: $color1;
	padding-top: 29px;
	padding-bottom: 30px;
	@include media-breakpoint-up(lg) {
		padding: 39px 0px 74px 0px;
	}
}


.block-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px 18px 2px 2px;
	background: #fff;
	span {
		display: block;
		margin: 0px;
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		color: #333333;
		@include media-breakpoint-up(lg) {
			font-size: 18px;
			line-height: 21px;
		}
	}
	i {
		font-size: 14px;
		color: #333333;
	}
	&.block-link_only {
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	}
	&:hover {
		text-decoration: none;
	}
}

.block-phone {
	color: #000000;
	span {
		span {
			font-size: 14px;
			line-height: 16px;
			text-decoration-line: underline;
			color: $color3;
		}
	}
	&:hover {
		text-decoration: none;
	}
}




.breadcrumb-block {
	padding: 13px 0px;
	.breadcrumb {
		padding: 0px;
		margin: 0px;
		background: none;
		.breadcrumb-item {
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			color: $color3;
			a {
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 12px;
				line-height: 14px;
				color: $color3;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		padding: 50px 0 19px 0px;
	}
}
.breadcrumb-item + .breadcrumb-item::before {
	content: ">";
	padding-right: .2rem;
}
.breadcrumb-item + .breadcrumb-item { padding-left: .2rem; }

.pagination {
	.page-item {
		margin-right: 6px;
		.page-link {
			min-width: 41px;
			height: 41px;

			display: flex;
			justify-content: center;
			align-items: center;

			border: 0px;
			padding: 11px 16px;
			background: #F4F9FC;
			border-radius: 3px;

			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: $color2;
		}
		&.active {
			.page-link {
				background: $color2;
				color: #fff;
			}
		}
		&.page-item_more {
			display: flex;
			justify-content: center;
			align-items: flex-end;

			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: $color2;
		}
		&:last-child {
			margin: 0px;
		}
	}
}


.advice-block {
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
	.advice-block__content {
		min-height: 123px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		border: 1px solid #017CC2;
		padding: 18px 22px;
		.title {
			font-family: Roboto Slab;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			color: #000000;
		}
		.link {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			border-bottom: 1px solid #000;
			transition: 0.3s;
			&:hover {
				text-decoration: none;
				color: $color2;
				border-color: $color2;
			}
		}
	}
}

.documents-item {
	display: flex;
	background: $color1;
	padding: 28px;
	&:hover {
		text-decoration: none;
	}
}


.news-item-block {
	p {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #333333;
	}
	img {
		width: 100%;
		display: block;
		margin-bottom: 13px;
	}
}
blockquote {
	margin: 50px 0px;
	background: $color1;
	border-left: 5px solid $color2;
	padding: 20px 30px 20px 40px;
	p {
		margin: 0px;
		font-family: Gilroy;
		font-style: italic;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}
}


.sidebar {

}
.sidebar-block {
	background: #F4F9FC;
	padding: 25px 15px 32px 25px;
	display: flex;
	flex-direction: column;
	.sidebar-block__inner-item {
		display: flex;
		flex-direction: column;

		padding-bottom: 30px;
		margin-bottom: 25px;
		border-bottom: 1px solid #737373;
		.title {
			font-family: Gilroy;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
		}
		.date {
			padding-top: 4px;
			font-family: Gilroy;
			font-style: normal;
			font-weight: 300;
			font-size: 14px;
			line-height: 16px;
			color: $color3;
		}
		&:hover {
			 text-decoration: none;
		}
		&:last-child {
			margin: 0px;
		}
	}
}