header {
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
	.btn-header-wrapper {
		@media (max-width: 1750px) {
			display: none;
		}
	}
	.header__top {
		background-color: $color1;
		padding: 9px 15px 8px 15px;
		@include media-breakpoint-up(lg) {
			padding: 9px 0px 15px 0px;
		}
		@media (min-width: 1750px) {
			padding: 9px 83px 15px 59px;
		}
	}
	.logo {
		display: block;
		width: 180px;
		@media (min-width: 1600px) {
			width: auto;
		}
	}
	.header__main {
		padding: 11px 0 9px 0;
		@include media-breakpoint-up(lg) {
			padding: 14px 0px 7px 0px;
		}
		@media (min-width: 1750px) {
			padding: 14px 83px 7px 59px;
		}
	}
	.nav-item {
		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		color: #000000;
		padding: 4px 0px;
		margin-right: 10px;

		position: relative;
		a {
			font-size: inherit;
			line-height: inherit;
			color: inherit;
			&:hover {
				text-decoration: none;
			}
		}
		[class^="icon-"], [class*=" icon-"] {
			font-size: 10px;
		}
		&.menu-item-has-children {
			ul {				
				position: absolute;
				left: 0;
				top: 100%;
				min-width: 15rem;
				line-height: initial;
				opacity: 0;
				visibility: hidden;
				li {
					margin-top: 20px;
					opacity: 0;
					visibility: hidden;
					background-color: #fff;

					-webkit-transition: all .6s cubic-bezier(.175,.885,.32,1);
					-webkit-transition: all .6s cubic-bezier(.175,.885,.32,1.275);
					-moz-transition: all .6s cubic-bezier(.175,.885,.32,1.275);
					-o-transition: all .6s cubic-bezier(.175,.885,.32,1.275);
					transition: all .6s cubic-bezier(.175,.885,.32,1.275);
					-webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1);
					-webkit-transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
					-moz-transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
					-o-transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
					transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
					&:first-child {
						border-top: 4px solid $color2;
					}
					a {
						display: block;
						padding: 13px 30px;
					}
				}
			}
			&:hover {
				ul {
					opacity: 1;
					visibility: visible;
					transition: 0.4s;
					li {
						margin-top: 0;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		&:last-child {
			margin: 0px;
		}
		@media (min-width: 992px) and (max-width: 1150px) {
			font-size: 10px;
			line-height: 14px;
		}
		@media (min-width: 1150px) and (max-width: 1200px) {
			font-size: 12px;
			line-height: 14px;
		}
		@media (min-width: 1600px) {
			font-size: 16px;
			line-height: 19px;
			margin-right: 25px;
		}
	}
	.navigation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			display: flex;
			align-items: center;
			.logo__header {
				padding-left: 13px;
				font-family: "Rockwell Extra Bold";
				font-size: 1.8rem;
				line-height: 22px;
				letter-spacing: 0.03em;
				text-transform: uppercase;
				color: $mainTextColor;
			}
			@media (max-width: 991px) {
				width: 40px;
			}
		}

		ul {
			display: flex;
			justify-content: center;
			list-style: none;
			padding: 0;
			margin: 0;
			position: relative;
			li {
				a {
					padding: 0 16px;
					font-family: "Roboto";
					font-style: normal;
					font-weight: normal;
					font-size: 1.8rem;
					line-height: 21px;
					color: #303030;
					:hover {
						text-decoration: none;
						color: inherit;
					}
				}
			}
			.navigation__line {
				position: absolute;
				display: block;
				height: 4px;
				background-color: $mainTextColor;
				left: 50%; bottom: -500%;
				transition: all 0.5s;
				padding: 0;
			}
		}
		.header__phone__wrap {
			display: flex;
			align-items: center;
		}
		.header__phone {
			font-family: "Roboto";
			font-style: normal;
			font-weight: 500;
			font-size: 1.8rem;
			line-height: 21px;
			color: $mainTextColor;
			padding-left: 8px;
		}
		@media (max-width: 991px) {

		}
	}

	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transform: scale(1.5);
	}
	.hamRotate.active {
		transform: rotate(45deg) scale(1.5);
	}
	.hamRotate180.active {
		transform: rotate(180deg);
	}
	.line {
		fill:none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: $color2;
		stroke-width: 5.5;
		stroke-linecap:round;
	}
	.ham8 .top {
		stroke-dasharray: 40 160;
	}
	.ham8 .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	}
	.ham8 .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	}
	.ham8.active .top {
		stroke-dashoffset: -64px;
	}
	.ham8.active .middle {
		transform: rotate(90deg);
	}
	.ham8.active .bottom {
		stroke-dashoffset: -64px;
	}


	.btn__menu {
	background: none;
	border: none;
	width: 24px;
	height: 24px;
	padding: 0;
	cursor: pointer;
		&:focus {
			outline: none;
		}
	}
	

}


.header-email {
	margin-left: 26px;
	.line {
		width: 1px;
		height: 14px;
		background-color: #000;
		margin-right: 12px;
	}
	a {
		&:hover {

		}
	}
}


.search-block-header {
	position: relative;
	margin-right: 100px;
	input[type="search"] {
		background-color: #fff;
		border-radius: 3px;
		padding: 4px 25px 4px 7px;
		border: 0px;

		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 14px;
		/* color3 */

		color: $color3;
	}
	button {
		position: absolute;
		z-index: 2;
		right: 0px;
		top: 0px;
		bottom: 0px;
		padding: 0px;
		border: 0px;
		background: none;

		display: flex;
		align-items: center;
		justify-content: flex-start;

		width: 26px;
		[class^="icon-"], [class*=" icon-"] {
			font-size: 18px;
			color: #333333;
		}
	}
}


#modal-menu {
	position: fixed;
	z-index: 98;
	top: 0px;
	right: -101%;
	bottom: 0px;
	left: 101%;
	
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);

	transition: 0.4s;

	display: flex;
	justify-content: flex-end;

	.modal-menu-content {
		max-width: 320px;
		width: 100%;
		height: 100%;
		background: #fff;
		overflow: auto;
	}
	.modal-menu__close {
		border: 0px;
		padding: 0px;
		background: none;
		font-size: 14px;
	}
	.modal-menu__link {
		font-family: Gilroy;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
		padding: 10px 0px;
		border-bottom: 1px solid $color5;
		.collapse {
			.modal-menu__link {
				border: 0px;
			}
		}
		.icon-arrow-down {
			transform: scale(1, -1);
			&.collapsed {
				transform: unset;
			}
		}
		&:hover {
			text-decoration: none;
		}
	}
	.card  {
		padding: 0px 0px 0px 20px;
		border: 0px;
		border-radius: 0px;
	}

	&.show {
		right: 0px;
		left: 0px
	}
}
